.socialmedia-header {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
    justify-content: space-between;
}

.image {
    width: 75%;
}
h1 {
    padding: 34px;
    margin-left: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.text {
    padding-left: 55px;
    line-height: 35px;
}

button {
    margin-bottom: 100px;
    padding: 20px;
    height:10%;
    width: 35%;
    vertical-align: right;
    border-radius: 25px;
    line-height: 5px;
    background-color: hsl(300, 69%, 71%);
}
body {
    background-image: url("bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
}