.socialmedia-header {
    position: absolute;
    right: 0px;
    width: 200px;
    margin-top: 500px;
    padding: 10px;
    font-size: xx-large;
    cursor: pointer;
  
}

.image {
    width: 75%;
}
.logo-image {
    padding:3%;
}
h2 {
    font-family: "Poppins";
    font-size: 35px;
    color: aliceblue;
    line-height: normal;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.text {
    padding-left: 45px;
    padding-bottom: 100px;
    line-height: 25px;
    font-family: "Open Sans";
    color:aliceblue;
}

button {
    margin-bottom: 100px;
    padding: 20px;
    height:10%;
    width: 35%;
    vertical-align: right;
    border-radius: 25px;
    line-height: 5px;
    background-color: hsl(300, 69%, 71%);
    color: aliceblue;
    cursor: pointer;
}
body {
    background-image: url("bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
}